<div class="item-header">
  <h3
    *ngIf="!item.isEditingTitle"
    (click)="isLocked && toggleEditMode('title', true)">
    {{ item.title }}
  </h3>
  <input
    *ngIf="item.isEditingTitle"
    [(ngModel)]="item.title"
    (blur)="toggleEditMode('title', false)"
    (keydown.enter)="toggleEditMode('title', false)"
    class="edit-input"
    type="text"
    #titleInput>
</div>
<div class="item-body">
  <p
    *ngIf="!item.isEditingContent"
    (click)="isLocked && toggleEditMode('content', true)">
    {{ item.content }}
  </p>
  <textarea
    *ngIf="item.isEditingContent"
    [(ngModel)]="item.content"
    (blur)="toggleEditMode('content', false)"
    class="edit-textarea"
    #contentInput>
  </textarea>
</div>
